#body {background: #e4e8e9 url("../images/theme/bg.png");background-attachment: fixed;}
body {font:12px/1.6 arial,helvetica,sans-serif;margin:0;padding:0;color:#666}
body {font-family: "Rosario", "Xin Gothic", "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", Arial, sans-serif}

h1, h2, h3, h4, h5, h6 {color: black}

.main {margin:35px auto; margin-bottom: 20px}
.comments {width:764px;margin:30px auto;}
.guide {margin: -10px auto;}
.cast, .main {width:800px}
.cast {display: none}

.banner2 {z-index: 9999; top: 0; left: 0;}
.banner2 span {margin-right:10px}
.banner2 {margin-bottom: 40px; margin: 30px auto; width: 780px}

.banner2 a:link{color:#817F7F;text-decoration:none;padding:3px;margin:0 2px}
.banner2 a:visited{color:#817F7F;text-decoration:none;}
.banner2 a:hover{color:#00b893;text-decoration:none;}
.insta {float: right}
.comments .comment {font-size: 14px;}

.guide {font-size: 12px}
.guide a:link{color:#00b893;text-decoration:none;padding:3px;margin:0 2px}
.guide a:visited{color:#00b893;text-decoration:none;}

.footer a:link{color:#b2b2b2;text-decoration:none;padding:3px;margin:0 2px}
.footer a:visited{color:#b2b2b2;text-decoration:none;}

.title a:link{color:black;text-decoration:none;padding:3px;}
.title a:visited{color:black;text-decoration:none;}

.content {background:white;line-height:24px;font-size:13px; padding-bottom: 1px}
.content {-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;}
.content a:visited { padding:3px; -moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;margin:0 2px;color:gray;text-decoration:none}
.content a:link{padding:3px; -moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;margin:0 2px;color:gray;text-decoration:none}
.content a:hover{padding:3px; -moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;margin:0 2px;color:#00b893;text-decoration:none}

.tec_content_css a:hover{padding:3px; -moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;margin:0 2px;color:#ff7862;text-decoration:none}

.share_content_css a:hover{padding:3px; -moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;margin:0 2px;color:#3498db;text-decoration:none}

.content strong {color:black;}

.title {font-size: 45px; margin-left:13px}
.title {margin-bottom:30px;}

.content {background: rgba(255, 255, 255);font-size:14px;}
.content {color:#5c5c5c; }
.content b{color:black;}
.content {padding:15px;line-height: 2.3em;}
.content p{margin-bottom: 20px;}

.footer, .paginator{font-size:12px; text-align:center;margin-top:-10px;margin-bottom:25px;color:#b2b2b2;}
.footer {margin-top: 10px}

.paginator a:link{color:#00b893;text-decoration:none;padding:3px;margin:0 2px}
.paginator a:visited{color:#00b893;text-decoration:none;}
/*.paginator a:hover{background:#f0f0f0; padding:3px; color:gray; -moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;margin:0 2px;}*/

.comments a:link{color:#00b893;text-decoration:none;padding:3px;margin:0 2px}
.comments a:visited{color:#00b893;text-decoration:none;}

.tec_comments_css a:link{color:#ff7862;text-decoration:none;padding:3px;margin:0 2px}
.tec_comments_css a:visited{color:#ff7862;text-decoration:none;}

.share_comments_css a:link{color:#3498db;text-decoration:none;padding:3px;margin:0 2px}
.share_comments_css a:visited{color:#3498db;text-decoration:none;}

.center {text-align: center}

::selection {background: #ecf0f1;}
::-moz-selection {background: #ecf0f1;}
::-webkit-selection {background: #ecf0f1;}

.container {}

.date {color:white;font-size:12px;margin-left:15px;}
.date {text-transform: uppercase;}
.date a:link{color:white;text-decoration:none;padding:3px;margin:0 2px}
.date a:visited{color:white;text-decoration:none;}
.blog_css, .date, .tec_css, .share_css{background:#00b893; width: 190px;-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;text-align:center}
.tec_css {background:#ff7862}
.share_css {background:#3498db}

.center{text-align:center}

.wbadd {margin-bottom: 10px}
.wbshare {text-align: right; margin-bottom: -25px;}
.share {margin:10px auto; width:630px;text-align:right}
.WB_praise .praise_intro {padding-top: 9px}

.clear {content: "."; display: block; height: 0; clear: both; visibility: hidden}
.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden }

.jiathis_style {float:right}

.content img{margin:0px auto;display:block;max-width:758px;margin-top: 10px; margin-bottom: 20px; padding:3px;}
.content {overflow: hidden;}
.img_left img{margin:0px;}

.cast {color:#CCCCCC;font-size:12px;margin:45px auto;margin-bottom: -40px;padding-left: 5px;}
.previous {float: left;}
.next {float: right;}

.douban {margin-right: 5px;}
#disqus_container .comment {margin-left: -5px;}
code {border:1px dashed #ccc;  -moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px; box-shadow:inset 1px 1px white;}

pre {padding:10px; background:#f1f1f1;  -moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;}
pre code {border: none; box-shadow: none;}
blockquote {font-style: italic; background-image: url("../images/theme/block@2x.png"); background-repeat: no-repeat; background-position: left top; padding-left: 25px; margin-left: 20px; background-color: transparent; background-size: 16px}

.intro {padding-left: 10px; font-size: 12px; margin-bottom: 20px; font-weight: bolder; margin-top: 20px}
.more .title{font-size: 14px; padding-left: 10px; text-align: left; margin-bottom: 20px; margin-left: 7px}

.archive {list-style: none; padding: 0px}
.archive li {padding: 0px}
.archive li time {color:#989990;}
.archive .year {color: black; font-weight: bold; text-transform: uppercase; margin: 10px 0px;}

.eof {font-weight: bolder; color: black;}
.forb {font-size: 14px; color: #b2b2b2; text-align: right; padding:10px; margin-top: -20px}
.upper {text-transform: uppercase;}
.tagcloud {margin-top: 10px}

.forb a:link{font-size:14px;color: #b2b2b2;padding:3px; -moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;margin:0 2px;text-decoration:none}
.forb a:visited {font-size:14px;padding:3px; -moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;margin:0 2px;color:#b2b2b2;text-decoration:none}
.forb a:hover {font-size:14px;padding:3px; -moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;margin:0 2px;color:#00b893;text-decoration:none}

.tag0 a:link{font-size:14px;color: #c4c4c4;padding:3px; -moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;margin:0 2px;text-decoration:none}
.tag0 a:visited {font-size:14px;padding:3px; -moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;margin:0 2px;color:#c4c4c4;text-decoration:none}

.tag1 a:link{font-size:16px;color: #a0a0a0;padding:3px; -moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;margin:0 2px;text-decoration:none}
.tag1 a:visited {font-size:16px;padding:3px; -moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;margin:0 2px;color:#a0a0a0;text-decoration:none}

.tag2 a:link{font-size:18px;color: gray;padding:3px; -moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;margin:0 2px;text-decoration:none}
.tag2 a:visited {font-size:18px;padding:3px; -moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;margin:0 2px;color:gray;text-decoration:none}

.tag3 a:link{font-size:20px;color: #4d4d4d;padding:3px; -moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;margin:0 2px;text-decoration:none}
.tag3 a:visited {font-size:20px;padding:3px; -moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;margin:0 2px;color:#4d4d4d;text-decoration:none}

.tag4 a:link{font-size:24px;color: black;padding:3px; -moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;margin:0 2px;text-decoration:none}
.tag4 a:visited {font-size:24px;padding:3px; -moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;margin:0 2px;color:black;text-decoration:none}

.links, .feed, .release{}

.guide {font-size:14px; margin:10px auto; width: 665px; line-height: 2em}

@media (max-width: 320px) {
    .cast, .main, .comments, .content, .cast{width: 90%; margin: 0px}
    .title {font-size:30px;}
    .more, .insta {float: none}
    .insta {display: none}
    .date {font-size: 12px}
    .content {margin: 0px auto;}
    .content img {max-width: 310px}
    .feed, .links, .release, .tags{display: none}
    #disqus_container, .forb{margin-left: 10px}
    .forb {margin-top: 20px}
    .banner2{padding-left: 30px}
}

@media (max-width: 480px) {
    .cast, .main, .comments, .content, .cast{width: 90%; margin: 0px}
    .title {font-size:30px;}
    .more, .insta {float: none}
    .insta {display: none}
    .date {font-size: 12px}
    .content {margin: 0px auto;}
    .content img {max-width: 470px}
    .feed {display: none}
    #disqus_container, .forb{margin-left: 10px}
    .forb {margin-top: 20px}
}

@media (max-width: 640px) {
    .main {width: 100%;}
    .title {font-size:30px;}
    .more, .insta {float: none}
    .date {font-size: 12px}
    .insta {display: none}
    .content img {max-width: 630px}
}
