<div class="banner2">
    <span><a href="/">Home</a></span>
    <span><a href="/archive/" class="archive">Archive</a></span>
    <span><a href="/tags/" class="tags">Tags</a></span>
    <span><a href="https://www.icloud.com/photostream/zh-cn/#A85oqs3q4aYXL">Sketch</a></span>
    <span><a href="/release/" class="release">Release</a></span>
    <span><a href="/about/" class="about">About</a></span>
    <span><a href="/links/" class="links">Links</a></span>
    <span><a href="/feed.xml" class="feed">Feed</a></span>
</div>

<script>
$(document).ready(function(){
	$('a').hover(
		function(){
			$(this).animate({opacity: 0.3}, 400)
		}, 
		function(){
			$(this).animate({opacity: 1}, 400)
		});
});
function getURLParameter(name) {
    return decodeURI(
        (RegExp(name + '=' + '(.+?)(&|$)').exec(location.search)||[,null])[1]
    );
}
</script>
