<div class="banner">
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/archive.html">Archive</a></li>
    <li><a href="http://www.douban.com/people/JGuo/" target="_blank">Douban</a></li>
    <li><a href="http://www.flickr.com/photos/soundbbg/" target="_blank">Flickr</a></li>
    <li><a href="https://github.com/guojing" target="_blank">Github</a></li>
    <li><a href="/about.html">About</a></li>
    <li><a href="/guestbook.html">Guestbook</a></li>
    <li><a href="/feed.xml">Rss</a></li>
  </ul>
</div>