<meta charset="utf-8" />
<link rel="alternate" type="application/atom+xml" title="Recent Entries" href="/feed.xml">
<link rel="icon" href="/images/icons/avatar.png">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="/style/css/bootstrap-responsive.css" rel="stylesheet">
<link rel="stylesheet" href="/style/css/bootstrap.css" type="text/css">
<link rel="stylesheet" href="/style/css/bootstrap-responsive.css" type="text/css">
<link rel="stylesheet" href="/style/style.css" type="text/css">
<script type="text/javascript" src="/style/jquery-1.7.1.min.js"></script>
