<!DOCTYPE HTML>
<html>
<head>
  <meta charset="utf-8" />
  <title>{{ site.title }}|{{ site.description }}</title>
  <link rel="stylesheet" href="/css/style.css" type="text/css">
  <link rel="alternate" type="application/atom+xml" title="Recent Entries" href="/atom.xml">
  <link rel="icon" href="/images/icon.png">
</head>
<body>
{% include banner.html %}

<div class="cast">只是写一点心情...</div>

<div class="logo"></div>

<div class="main">
{{ content }}
</div>

<div class="paginator">

{% if paginator.previous_page or paginator.next_page %}

{% if paginator.previous_page %}

{% if paginator.previous_page == 1 %}
<a href="{{ page.id }}/">上一页</a>
{% else %}
<a href="{{ page.id }}/page{{ paginator.previous_page }}/">上一页</a>
{% endif %}

{% endif %}

{% if paginator.next_page %}
<a href="{{ page.id }}/page{{ paginator.next_page }}/">下一页</a>
{% endif %}
</div>

{% endif %}

{% include footer.html %}
</body>
</html>

