<!DOCTYPE HTML>
<html>
<head>
  <meta charset="utf-8" />
  <title>{{ site.title }}|{{ site.description }}</title>
  <link rel="stylesheet" href="/css/style.css" type="text/css">
  <link rel="alternate" type="application/atom+xml" title="Recent Entries" href="/atom.xml">
  <link rel="icon" href="/images/icon.png">
</head>
<body>
{% include banner.html %}

<div class="main">
<div class="title">{{ page.title }}</div>
<div class="content">{{ content }}</div>
</div>

{% include footer.html %}
</body>
</html>

