<!DOCTYPE HTML>
<html>
<head>
  <title>{{ page.title }}|GuoJing's Blog</title>
  <link rel="stylesheet" href="/css/style.css" type="text/css">
  <link rel="alternate" type="application/atom+xml" title="Recent Entries" href="/atom.xml">
</head>
<body>
<div class="banner">
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="http://www.douban.com/people/JGuo/">Douban</a></li>
    <li><a href="http://www.flickr.com/photos/soundbbg/">Flickr</a></li>
  </ul>
</div>
<div class="main">
  <div class="title"><a href="{{ page.url }}">{{ page.title }}</a></div>
  <div class="content">
    {{ content }}
  </div>
</div>
<div class="footer">
{{ site.copyright }}
</div>
</body>
</html>
