<!DOCTYPE HTML>
<html>
<head>
  <title>{{ page.title }}|GuoJing's Blog</title>
  <link rel="stylesheet" href="/css/style.css" type="text/css">
  <link rel="alternate" type="application/atom+xml" title="Recent Entries" href="/atom.xml">
  <script type="text/javascript" src="/js/jquery-1.7.1.min.js"></script>
  <script type="text/javascript">
        var BYB = {};
  </script>
  <script type="text/javascript">
    BYB.includeScript = function(file,callback){
    var _doc = document.getElementsByTagName('head')[0];
    var js = document.createElement('script');
    js.setAttribute('type', 'text/javascript');
    js.setAttribute('src', file);
    _doc.appendChild(js);
    
    if (!/*@cc_on!@*/0) { //if not IE
    //Firefox2、Firefox3、Safari3.1+、Opera9.6+ support js.onload
    js.onload = function () {
    callback();
    }
    } else {
    //IE6、IE7 support js.onreadystatechange
    js.onreadystatechange = function () {
    if (js.readyState == 'loaded' || js.readyState == 'complete') {
    callback();
    }
    }
    }
    return false;
    }
    
    //if(!window.jQuery){
    //BYB.includeScript('http://beiyuu.com/js/jquery-1.7.1.min.js',BYB.readyFunction);
    //}else{
    //BYB.readyFunction();
    //}
  </script>
</head>
<body>
<div class="banner">
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="http://www.douban.com/people/JGuo/">Douban</a></li>
    <li><a href="http://www.flickr.com/photos/soundbbg/">Flickr</a></li>
    <li><a href="/about">About</a></li>
  </ul>
</div>
<div class="main">
  <div class="title"><a href="{{ page.url }}">{{ page.title }}</a></div>
  <div class="content">
    {{ content }}
  </div>
</div>
<div id="disqus_container"> 
    <a href="#" class="comment" onclick="return false;">点击查看评论</a>
    <div id="disqus_thread"></div>
</div>

<script type="text/javascript">
    $(document).ready(function(){alert('tete')});
</script>

<div class="footer">
{{ site.copyright }}
</div>
</body>
</html>
