<!DOCTYPE HTML>
<html>
<head>
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="/css/style.css" type="text/css">
  <link rel="alternate" type="application/atom+xml" title="Recent Entries" href="/atom.xml">
</head>
<body>
<div class="banner">
  <ul>
    <li><a href="/articles">Home</a></li>
  </ul>
</div>
<div class="main">
  <div class="title">{{ page.title }}</div>
  <div class="content">
    {{ content }}
  </div>
</div>
<div class="footer">
{{ site.copyright }}
</div>
</body>
</html>
